.just {
    text-align: justify;
}

.poster-container {
    position: relative;
    display: table;
}

img.poster {
    cursor: pointer;
}

.play-button-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.play-button {
    vertical-align: middle;
    cursor: pointer;
}

.product-video {
    display: none;
}

.product-video video {
    width: 100%;
}